* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}